.buscador-contenedor {
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 25px;
    padding: 10px 20px;
    margin: 20px auto;
    width: 60%;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.icono-lupa {
    font-size: 20px;
    margin-right: 10px;
}

.buscador-contenedor input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
}

body.modo-oscuro .buscador-contenedor {
    background-color: #2a2a2a;
    border-color: #444;
}

body.modo-oscuro .buscador-contenedor input {
    background-color: transparent;
    color: #e0e0e0;
}

/* Cambia el color del texto "placeholder" */
body.modo-oscuro .buscador-contenedor input::placeholder {
    color: #888;
}