.buscador-contenedor {
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 25px;
    padding: 10px 20px;
    margin: 20px auto;
    width: 60%;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.icono-lupa {
    font-size: 20px;
    margin-right: 10px;
}

.buscador-contenedor input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
}

